@charset "UTF-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}


ol, ul {
  list-style: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


a img {
  border: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


body, html {
  width: 100%;
  height: 100%;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.active {
  font-weight: bold;
  color: orange;
}

.hidden {
  width:0 !important;
  h5 {
    display: none;
  }
}

.filter-options {
  width: 100%;
  background: white;
  text-align: center;
  padding: 20px;
  li {
    display: inline-block;
    font-size: 12px;
    color: gray;
    margin: 10px;
    &:hover { 
      cursor: pointer;
    }
  }
}

.grid {
  width: 80%;
  margin: 0 auto;
  right: 0;
  left: 0;
  font-size:0;
  text-align: center;
  li {
    transition: all 1s ease-in-out;
    width: 28%;
    display: inline-block;
    padding-bottom: 31%;
    background: #FF530D;
    font-size: 20px;
    margin: .5%;
    color: white;
    position: relative;
    text-align: center;
    h5 {
      position: absolute;
      margin: 0 auto;
      right:0;
      left:0;
      top: 50%;
      transform: translate(0,-50%);

    }
  }
}




